<h2>Template: <small>Dinamicos</small></h2>
<hr>
<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
    <!-- NOMBRE -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   required
                   [ngModel]="persona.nombre"
                   name="nombre">
            <span class="text-danger form-text" 
                  *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched">Campo obligatorio</span>
        </div>
    </div>
        <!-- AGREGAR -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Agregar</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input class="form-control"
                           placeholder="Agregar favorito"
                           [(ngModel)]="nuevoFav"
                           name="nuevoFav"
                           (keyup.enter)="agregarFav()">
                    <button class="btn btn-outline-primary"
                            type="button"
                            (click)="agregarFav()">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

    <!-- Lista juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div *ngFor="let juego of persona.favoritos; let i = index" class="input-group mb-1">
                <input  
                        class="form-control"
                        [(ngModel)]="juego.nombre"
                        name="favorito_{{i}}"
                        required>
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="eliminar(i)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()"
                    [disabled]="miFormulario.invalid"
                    >
                        Guardar</button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>