<h2>Template</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        [routerLink]="item.ruta"
        *ngFor="let item of templateMenu"
        routerLinkActive="active">
        {{item.texto}}
    </li>

</ul>

<h2 class="mt-3">Reactive</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        [routerLink]="item.ruta"
        *ngFor="let item of reactveMenu"
        routerLinkActive="active">
        {{item.texto}}
    </li>

</ul>

<h2 class="mt-3">Validaciones</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        [routerLink]="item.ruta"
        *ngFor="let item of authMenu"
        routerLinkActive="active">
        {{item.texto}}
    </li>

</ul>