<h2>Reactive: Basicos</h2>
<div class="row">
    <div class="col">
        <form  
            autocomplete="off" 
            [formGroup]="miFormulario"
            (ngSubmit)="guardar()">
            <!-- CAMPO PRODUCTO -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del producto"
                            formControlName="nombre"
                            >
                    <span 
                        class="form-text text-danger"
                        *ngIf="campoEsValido('nombre')" 
                        > 
                        Deben ser 3 caracteres
                    </span>
                </div>
            </div>
              <!-- CAMPO PRECIO -->
               <div class="mb-3 row">
                 <label class="col-sm-3 col-form-label">Precio</label>
                    <div class="col-sm-9">
                      <input type="number"
                             class="form-control"
                             placeholder="Precio del producto"
                             formControlName="precio"
                            >
                         <span 
                             class="form-text text-danger"
                             *ngIf="campoEsValido('precio')" 
                             > 
                             El precio debe ser 0 o mas
                         </span>
                    </div>
       
                </div>
                <!-- CAMPO EXISTENCIA -->
               <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                   <div class="col-sm-9">
                     <input type="number"
                            class="form-control"
                            placeholder="Existencias del producto"
                            formControlName="existencias"
                           >
                           <span 
                           class="form-text text-danger"
                           *ngIf="campoEsValido('existencias')" 
                           > 
                           El precio debe ser 0 o mas
                       </span>
                           
                   </div>
               </div>

               <div class="row">
                   <div class="col">
                       <button type="submit"
                       class="btn btn-primary float-end"
                       >
                           Guardar
                       </button>
                   </div>
               </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>
        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>
        <span>Pristine</span>
        <pre>{{miFormulario.pristine | json}}</pre>
        <span>Touched</span>
        <pre>{{miFormulario.touched | json}}</pre>
        <span>Precio</span>
        <pre>{{miFormulario.controls.precio.errors | json}}</pre>
    </div>
</div>