<h2>Template: Basicos</h2>
<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
            <!-- CAMPO PRODUCTO -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del producto"
                            [ngModel]="initForm.producto"
                            name="producto"
                            required
                            minlength="3">
                    <span 
                        class="form-text text-danger" 
                        *ngIf="nombreValido()"> 
                        Deben ser 3 caracteres
                    </span>
                </div>
            </div>
              <!-- CAMPO PRECIO -->
               <div class="mb-3 row">
                 <label class="col-sm-3 col-form-label">Precio</label>
                    <div class="col-sm-9">
                      <input type="number"
                             class="form-control"
                             placeholder="Precio del producto"
                             [ngModel]="initForm.precio"
                             name="precio"
                             required
                             min=0>
                         <span 
                             class="form-text text-danger" 
                             *ngIf="precioValido()"> 
                             El precio debe ser 0 o mas
                         </span>
                    </div>
       
                </div>
                <!-- CAMPO EXISTENCIA -->
               <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                   <div class="col-sm-9">
                     <input type="number"
                            class="form-control"
                            placeholder="Existencias del producto"
                            [ngModel]="initForm.existencia"
                            name="existencia"
                            required
                            customMin
                            [minimo]="0">
                           
                   </div>
               </div>

               <div class="row">
                   <div class="col">
                       <button type="submit"
                       [disabled] = "miFormulario.invalid"
                       class="btn btn-primary float-end">
                           Guardar
                       </button>
                   </div>
               </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>
        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>
        <span>Pristine</span>
        <pre>{{miFormulario.pristine | json}}</pre>
        <span>Touched</span>
        <pre>{{miFormulario.touched | json}}</pre>
        <span>CustomDirective</span>
        <pre>{{miFormulario.controls.existencia?.errors | json}}</pre>
    </div>
</div>