<h2>Reactivos: <small>Dinamicos</small></h2>
<hr>
<form autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="guardar()">
    <!-- NOMBRE -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="nombre"
                  >
            <span class="text-danger form-text"
                  *ngIf="campoEsValido('nombre')" 
                  >Campo obligatorio</span>
        </div>
    </div>
        <!-- AGREGAR -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Agregar</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input class="form-control"
                           placeholder="Agregar favorito"
                           [formControl]="nuevoFavorito"
                           (keyup.enter)="agregarFavorito()">
                    <button class="btn btn-outline-primary"
                            type="button"
                            (click)="agregarFavorito()">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

    <!-- Lista juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div  class="input-group mb-1" *ngFor="let item of favoritosArr.controls; let i = index;">
                <input  
                        class="form-control"
                        [formControlName]="i"
                      >
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrar(i)"
                        >
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    (click)="1"
                    
                    >
                        Guardar</button>
        </div>
    </div>
</form>


<span>
    campoEsValid
</span>
<pre>
    {{miFormulario.valid}}
</pre>
<br>
<span>
    campoEsValid
</span>
<pre>
    {{miFormulario.value | json}}
</pre>
<br>
<span>
    Agregar fav valid
</span>
<pre>
    {{nuevoFavorito.value | json}}
</pre>
<br>
<span>
    Agregar fav value
</span>
<pre>
    {{nuevoFavorito.valid | json}}
</pre>
<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->