<h2>Template: Switches</h2>
<hr>

<form #miFormulario="ngForm">
    <div class="row mb-3">
        <!-- radios -->
        <label class="col-sm-3 col-form-label">
            Género:
        </label>
        <div class="col-sm-9">
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="radioGenero" 
                    id="radioMasculino"
                    value="M"
                    [(ngModel)]=persona.genero
                    required>
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        name="radioGenero" 
                        id="radioFemenino"
                        value="F"
                        [(ngModel)]=persona.genero
                        required>
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
              </div>
        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        
        <label class="col-sm-3 col-form-label">
            Notificaciones:
        </label>
        <div class="col-sm-9"> 
            <div class="form-check form-switch mt-2">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="flexSwitchCheckChecked"
                    [(ngModel)]="persona.notificaciones"
                    name="notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Activar notificaciones</label>
              </div>
        </div>
    </div>

    <div class="row mb-3">
        <!-- Checks -->
        <label class="col-sm-3 col-form-label">
            Aceptar Terminos:
        </label>
        <div class="col-sm-9"> 
            <div class="form-check mt-2">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="flexCheckDefault"
                    name="terminos"
                    [(ngModel)]=terminosYCondiciones
                    required>
                <label class="form-check-label" for="flexCheckDefault">
                  
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button [disabled]="miFormulario.invalid" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>

<h5>Valor del Form</h5>
<pre>{{miFormulario.value | json}}</pre>
<br>

<h5>Persona</h5>
<pre>{{persona | json}}</pre>
<br>

<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>
<br>
<h5>Terminos</h5>
<pre>{{miFormulario.controls?.terminos?.errors | json}}</pre>
<br>
<pre>Condiciones: </pre>