<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
            <!-- NOMBRE -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                   
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="Nombre del usuario"
                        formControlName="nombre">
                        <span
                            *ngIf="campoNoValido('nombre')" 
                             class="form-text text-danger">Debe de ser en formato de nombre y apellido</span>
                </div>
               
            </div>
            <!-- E-Mail -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">E-Mail</label>
                <div class="col-sm-9">
                   
                    <input 
                        type="email" 
                        class="form-control"
                        formControlName="email"
                        placeholder="E-Mail del usuario">
                        <span
                        *ngIf="campoNoValido('email')" 
                         class="form-text text-danger">{{emailErrorMsg}}</span>

                </div>
               
            </div>
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                   
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="username"
                        placeholder="Username del usuario">
                        <span
                        *ngIf="campoNoValido('username')" 
                         class="form-text text-danger">Username ya existe</span>
                </div>
               
            </div> 
            
            <!-- Contra -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                   
                    <input 
                        type="password" 
                        class="form-control"
                        formControlName="password"
                        placeholder="Password del usuario">
                        <span
                        *ngIf="campoNoValido('password')" 
                         class="form-text text-danger">La contra debe ser mayor de 6 caracteres</span>
                        
                </div>
               
            </div>
            <!--Confirmar  Contra -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                   
                    <input 
                        type="password" 
                        class="form-control"
                        formControlName="password2"
                        placeholder="Confirmar Password del usuario">
                        <span
                        *ngIf="campoNoValido('password2')" 
                         class="form-text text-danger">Las contras deben ser iguales</span>
                </div>
               
            </div>   
            
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="miFormulario.pending">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>
<h2>Form Errors: {{miFormulario.errors | json}}</h2>
<h2>Form Estatus: {{miFormulario.status | json}}</h2>
<h2>Form Pending: {{miFormulario.pending | json}}</h2>

<h2>Nombre</h2>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>

<h2>mail</h2>
<pre>{{miFormulario.controls.email.errors | json}}</pre>


<h2>username</h2>
<pre>{{miFormulario.controls.username.errors | json}}</pre>

<h2>pasword</h2>
<pre>{{miFormulario.controls.password.errors | json}}</pre>

<h2>pasword2</h2>
<pre>{{miFormulario.controls.password2.errors | json}}</pre>